<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="name">Enter surname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="name">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <input type="submit" value="update"/>
</form>


</body>
<div th:insert="~{exit :: exit_button}"></div>
</html>